$text-padding: 15px;

.issue {
  h1 {
    margin: 0px;
    padding: $text-padding;
    background-color: silver;
    font-size: 24px;
  }

  .prefix {
    padding: $text-padding;
    padding-bottom: 0px;
    margin-bottom: -15px;
    color: #999;
  }

  #your-position {
    background-color: #EEEEEE;
    padding: $text-padding - 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;

    .position {
    }
  }

  .argument {
    padding: $text-padding - 1px;
    border: 1px solid #999;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    h2 {
      margin: 4px 0px $text-padding 0px;
      font-size: 20px;
    }

    .details {
      .detail-area {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .detail-icon {
          font-size: 30px;
          display: block;
          width: 40px;
          color: #999999;
        }

        .detail-description {
          padding-top: 5px;
        }
      }
    }
  }
}
