<h2>Edit Issue</h2>

<%= render "form.html", changeset: @changeset,
                        action: issue_path(@conn, :update, @issue) %>

<span><%= link "Back", to: issue_path(@conn, :index) %></span>
