<article class="issue">
  <h1><%= @issue.name %></h2>

  <div id="your-position">
    <div class="position">No</div>
    <div>|</div>
    <div class="position">Yes</div>
  </div>

  <div class="prefix">some people think that...</div>
  <div id="argument-stack"></div>
</article>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    document.renderWidget('argumentCards', 'argument-stack')
    document.renderWidget('positionGuage', 'your-position')
  });
</script>
