<h2>Show Issue</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @issue.name %>
  </li>

</ul>

<span><%= link "Edit", to: issue_path(@conn, :edit, @issue) %></span>
<span><%= link "Back", to: issue_path(@conn, :index) %></span>
